body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(122, 152, 244);
}

h1 {
    font-size: 32px;
    text-align: center;
    color: #ffffff; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
}
